/* You can add global styles to this file, and also import other style files */
.page-container {
    padding: 1rem 10%;
}
.truncate {
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Number of lines to show */
    &.title-my{
        -webkit-line-clamp: 1;
    }
    &.description-my{
        -webkit-line-clamp: 3;
    }
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }